.header {
  display: flex;
  justify-content: center;
  background: var(--gray-700);
  padding: 4.75rem 0;
  align-items: center;
}

.header strong {
  font-size: 2.5rem;
  margin-left: 0.75rem;
  color: var(--blue);
}
